target/
admin-ui/node_modules/
admin-ui/.vite/
admin-ui/dist/
admin-ui/playwright-report/
admin-ui/test-results/
.git/
.github/
/.cargo/
.idea/
.vscode/
docs/
helm/
*.log
.env
.env.*
/xlb.yaml
Dockerfile*
docker-compose*
